<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" >Editar una tarea</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_name">Titulo</label>
            <input type="text" class="form-control" name="title" 
                    ng-model="vm.task.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" >
                    El campo es requerido
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Descripcion</label>
            <input type="text" class="form-control" name="description"
                    ng-model="vm.task.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    El campo es requerido
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Cancelar
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;Guardar
        </button>
    </div>
</form>